<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title>Kupuj a predavaj</title>
	<h:outputStylesheet library="css" name="style.css"/>
</h:head>
<h:body>
	
	<h1>Vita vas Kupuj a predavaj.</h1>

	<ui:include src="/login.xhtml" />
	
	<ui:include src="/registration.xhtml" />
		
</h:body>
</html>
