<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

	<h3>Login</h3>

	<h:form>
		<h:panelGrid columns="2" cellpadding="5" cellspacing="5" border="1">
			<h:outputLabel id="emailLabel" for="emailLogin" styleClass="text-input">Email:</h:outputLabel>
			<h:inputText id="emailLogin" value="#{login.email}" required="true" requiredMessage="*"></h:inputText>

			<h:outputLabel for="passLogin">Password:</h:outputLabel>
			<h:inputSecret id="passLogin" value="#{login.password}"></h:inputSecret>
			<f:facet name="footer">
				<h:panelGroup style="display:block; text-align:center">
					<h:commandButton id="submit" value="Login" action="#{login.login}"></h:commandButton>
				</h:panelGroup>
			</f:facet>
		</h:panelGrid>
	</h:form>

</ui:composition>
