<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

	<h3>Registration</h3>

	<h:form>
		<h:panelGrid columns="2" cellpadding="5" cellspacing="5" border="1">

			<h:outputLabel for="name">Name:</h:outputLabel>
			<h:inputText id="name" value="#{reg.user.name}"></h:inputText>

			<h:outputLabel for="surname">Surname:</h:outputLabel>
			<h:inputText id="surname" value="#{reg.user.surname}"></h:inputText>

			<h:outputLabel for="street">Street:</h:outputLabel>
			<h:inputText id="street" value="#{reg.user.address.street}"></h:inputText>

			<h:outputLabel for="postalCode">Postal Code:</h:outputLabel>
			<h:inputText id="postalCode" value="#{reg.user.address.postalCode}"></h:inputText>

			<h:outputLabel for="city">City:</h:outputLabel>
			<h:inputText id="city" value="#{reg.user.address.city}"></h:inputText>

			<h:outputLabel for="country">Country:</h:outputLabel>
			<h:selectOneMenu value="#{reg.user.address.country}">
				<f:selectItems value="#{login.countries}"/>
			</h:selectOneMenu>

			<h:outputLabel id="emailLabel" for="email">Email:</h:outputLabel>
			<h:inputText id="email" value="#{reg.user.email}"></h:inputText>

			<h:outputLabel for="pass">Password:</h:outputLabel>
			<h:inputSecret id="pass" value="#{reg.user.password}">
				<f:validateLength minimum="8"></f:validateLength>
			</h:inputSecret>
			<f:facet name="footer">
				<h:panelGroup style="display:block; text-align:center">
					<h:commandButton id="submit" value="Submit" action="#{reg.register}" />
				</h:panelGroup>
			</f:facet>
		</h:panelGrid>
	</h:form>

</ui:composition>
